/*Resetear valores por defecto de los elementos*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

a:visited {
    text-decoration: none;
}

body{
    background-image: url(../../imagenes/backgrounds/background12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(81, 81, 81) 42%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    z-index: -1;

}

/*Sección del video*/

section{    
    height: calc(100vh - 60px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.progreso-panel{
    height: 85%;
    width: 500px;
    background-color: white;
    border-radius: 20px;

    position: relative;
}

.progreso-titulo{
    width: 100%;
    height: 60px;
    padding: 20px;
    
    border-bottom: 1px solid #6f6d6c;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.progreso-titulo h1{
    font-size: 30px;
    color: #2c3968;
}

.progreso-contenedor{
    height: calc(100% - 120px);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


meter{
    height: 15%;
    width: 90%;
}


/*BOTNES DE LA PARTE INFERIOR*/

.botones{
    height: 60px;
    width: 100%;
    border-top: 1px solid #6f6d6c;
   
    position: absolute;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botones > input{
    background-color: #0066b2;
    border: none;
    color: white;
    font-weight: bold;
    height: 80%;
    width: 200px;
    border-radius: 10px;
}

.botones > input:hover{
    border: 2px solid #002D62;
}

.boton-regresar{
    margin-left: 20px;
}

.boton-siguiente{
    float: left;
    margin-right: 20px;
}

.boton-oculto{
    opacity: 0;
}